<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <h1>SkeletonAPP</h1>
    <h6>Aquí comienza todo</h6>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <h5 style="text-align: center;">Bienvenido!</h5>
  <ion-item>
    <ion-input label="Ingresa tu Usuario" labelPlacement="floating" placeholder="" type="text"
      [(ngModel)]="usuario" required minlength="3" maxlength="8"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Ingresa tu Clave" labelPlacement="floating" placeholder="" type="password"
      [(ngModel)]="clave" required maxlength="4"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="full" (click)="iniciosesion()">Ingresar</ion-button>
  <br>
  <br>
  <h5 style="text-align: center;">
    <a [routerLink]="['/registro']" style="color: #007bff; text-decoration: underline; cursor: pointer;">
      Crea tu cuenta gratis
    </a>
  </h5>
</ion-content>