  <br>
  <ion-item>
    <ion-input #nombreCertificadoInput label="Nombre Certificado" placeholder="Ingrese Nombre Certificado"
      [(ngModel)]="nombreCertificado"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <mat-form-field appearance="fill" style="width:100%;">
      <mat-label>Fecha de Obtención</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaObtencion">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </ion-item>
  <ion-item>
    <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="certificadoVence" (ionChange)="showFechaVencimiento()">El certificado vence? </ion-toggle>
  </ion-item>
  <ion-item *ngIf="isVisible">
    <mat-form-field appearance="fill" style="width:100%;">
      <mat-label>Fecha Vencimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaVencimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </ion-item>
  <ion-item>
<ion-button expand="block" (click)="guardarCertificacion()">{{ editing ? 'Actualizar' : 'Agregar' }}</ion-button>
  </ion-item>
  <ion-item *ngIf="editing">
  <ion-button
    expand="block"
    fill="outline"
    color="medium"
    (click)="resetForm()">
    Cancelar
  </ion-button>
</ion-item>
  <br>
  <ion-label style="font-size: 1em;" class="my-label">Certificaciones</ion-label>
  <br>

  <ion-list *ngIf="(certs$ | async)?.length">
  <ion-item *ngFor="let cert of certs$ | async">
    <ion-label>
      <h2>{{ cert.nombre_certificado }}</h2>
      <p>{{ cert.fecha_obtencion | date:'yyyy-MM-dd' }}
        –
        {{ cert.fecha_vencimiento
           ? (cert.fecha_vencimiento | date:'yyyy-MM-dd')
           : 'Sin vencimiento' }}</p>
    </ion-label>
    <ion-button fill="clear" slot="end" (click)="editarCertificacion(cert)">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-button>

     <ion-button fill="clear" slot="end" (click)="eliminarCertificacion(cert.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
