<ion-header [translucent]="true">
  <ion-toolbar style="text-align:left">
    <h1>SkeletonAPP</h1>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-label style="font-size: 3em;" class="my-label">Bienvenido!</ion-label>
  <br>
  <ion-label>Usuario: {{ usuario }}</ion-label>
 <ion-segment [(ngModel)]="segmentValue">
  <ion-segment-button value="mis-datos">
    Mis Datos
  </ion-segment-button>
  <ion-segment-button value="experiencia">
    Experiencia
  </ion-segment-button>
  <ion-segment-button value="certificaciones">
    Certificaciones
  </ion-segment-button>
</ion-segment>

<ng-container [ngSwitch]="segmentValue">
  <app-mis-datos
    *ngSwitchCase="'mis-datos'">
  </app-mis-datos>

  <app-experiencia-laboral
    *ngSwitchCase="'experiencia'">
  </app-experiencia-laboral>

  <app-certificaciones
    *ngSwitchCase="'certificaciones'">
  </app-certificaciones>
</ng-container>

</ion-content>

<ion-footer style="background-color: gray;height: 2em;">
  <ion-label>App desarrollada por Kat Ferreira</ion-label>
</ion-footer>